# 02 – Data Cleaning & Feature Engineering

**Notebook Name:** `02_Data_Cleaning_Feature_Engineering.ipynb`

## Objectives
- Load raw data from `inputs/datasets/raw/HousePricesRecords.csv`.
- Handle nulls and duplicates.
- Parse dates into separate Year and Month features.
- Map and one-hot encode key categorical fields.
- Save the cleaned, feature-engineered dataset for modeling.

## Inputs
- `inputs/datasets/raw/HousePricesRecords.csv` (raw Price-Paid records).

## Outputs
- `outputs/datasets/collection/HousePricesRecords_clean.csv` (cleaned and feature-engineered).

## Additional Comments
- Follows CRISP-DM Phase 3: Data Preparation.
- This cleaned CSV is the source of truth for subsequent analysis notebooks and the Streamlit app.

## Import Required Libraries
Loading packages for data manipulation and file operations.

In [21]:
import pandas as pd
import numpy as np
import os

##  Load Raw Data Sample
Read a subset of rows in chunks to manage memory.

We read in chunks of 200,000 rows and keep the newest 1,000 entries overall for initial inspection.

In [22]:
input_path = "../inputs/datasets/raw/price_paid_records.csv"
chunksize = 200_000    
topn      = 1_000      
latest = None

for chunk in pd.read_csv(
    input_path,
    usecols=[
        "Price","Date of Transfer","Property Type","Old/New",
        "Duration","Town/City","County","PPDCategory Type"
    ],
    parse_dates=["Date of Transfer"],
    chunksize=chunksize,
    low_memory=False
):
    # for this chunk, keep its top `topn` newest rows
    chunk_top = chunk.nlargest(topn, "Date of Transfer")

    if latest is None:
        latest = chunk_top
    else:
        # merge with previous bests, then re-take the top `topn`
        latest = pd.concat([latest, chunk_top]).nlargest(topn, "Date of Transfer")
    

df_chunk = latest.reset_index(drop=True)

### Preview Sample
Ensure data loaded correctly; limited to 1,000 rows due to memory constraints.

In [23]:
df_chunk.head()

,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,County,PPDCategory Type
0,277000,2017-06-29,S,N,F,WICKFORD,ESSEX,A
1,30000,2017-06-29,F,N,L,HULL,CITY OF KINGSTON UPON HULL,A
2,551000,2017-06-29,T,N,F,CHISLEHURST,GREATER LONDON,A
3,240000,2017-06-29,S,N,F,BEDFORD,BEDFORD,B
4,527500,2017-06-29,D,N,F,HEMEL HEMPSTEAD,HERTFORDSHIRE,B

## Inspect Data Types & Distributions
Verify dtypes and explore categorical value counts.

In [24]:
print("Column Data Types:")
print(df_chunk.dtypes)

categorical_cols = ["Property Type", "Old/New", "Duration", "County", "Town/City"]
for col in categorical_cols:
    print(f"\nValue counts for {col}:")
    print(df_chunk[col].value_counts())

Column Data Types:
Price                        int64
Date of Transfer    datetime64[ns]
Property Type               object
Old/New                     object
Duration                    object
Town/City                   object
County                      object
PPDCategory Type            object
dtype: object

Value counts for Property Type:
Property Type
S    286
T    282
D    239
F    140
O     53
Name: count, dtype: int64

Value counts for Old/New:
Old/New
N    992
Y      8
Name: count, dtype: int64

Value counts for Duration:
Duration
F    828
L    172
Name: count, dtype: int64

Value counts for County:
County
GREATER LONDON      79
KENT                48
HAMPSHIRE           39
DEVON               39
ESSEX               29
                    ..
BLACKPOOL            1
WARRINGTON           1
MIDDLESBROUGH        1
POWYS                1
ISLE OF ANGLESEY     1
Name: count, Length: 103, dtype: int64

Value counts for Town/City:
Town/City
LONDON             51
BRISTOL            23
NOTTINGHAM         15
POOLE              12
PLYMOUTH           11
                   ..
KNEBWORTH           1
STAMFORD            1
BISHOP AUCKLAND     1
PENZANCE            1
CAERNARFON          1
Name: count, Length: 437, dtype: int64

## Clean Missing and Irrelevant Data
Remove rows with missing critical fields and drop unused columns.

In [25]:
print("Missing values in each column:")
print(df_chunk.isnull().sum())

df_chunk.dropna(subset=["Price", "Date of Transfer"], inplace=True)
print(f"Shape after dropping missing price/date: {df_chunk.shape}")

Missing values in each column:
Price               0
Date of Transfer    0
Property Type       0
Old/New             0
Duration            0
Town/City           0
County              0
PPDCategory Type    0
dtype: int64
Shape after dropping missing price/date: (1000, 8)

## Date Feature Engineering
Convert date to datetime, extract year and month, and filter last 3 years.

In [26]:
df_chunk.drop(columns=[
    "Transaction unique identifier",
    "District",
    "Record Status - monthly file only"
], inplace=True, errors='ignore')


df_chunk["Date of Transfer"] = pd.to_datetime(df_chunk["Date of Transfer"], errors='coerce')

## Encode Categorical Features
Map binary and one-hot encode needful fields.

In [27]:

df_chunk["Year"] = df_chunk["Date of Transfer"].dt.year
df_chunk["Month"] = df_chunk["Date of Transfer"].dt.month

max_date    = df_chunk["Date of Transfer"].max()
cutoff_date = max_date - pd.DateOffset(years=3)

# 2) filter to only those transfers within the last 3 years
before_rows = df_chunk.shape[0]
df_chunk    = df_chunk[df_chunk["Date of Transfer"] >= cutoff_date]
after_rows  = df_chunk.shape[0]

df_chunk["Old/New"] = df_chunk["Old/New"].map({'N': 0, 'Y': 1})
df_chunk["Duration"] = df_chunk["Duration"].map({'F': 1, 'L': 0})
df_chunk = pd.get_dummies(df_chunk, columns=["Property Type"], prefix="Property")

print(
    f"Filtered out {before_rows - after_rows} rows; "
    f"remaining {after_rows} rows from {cutoff_date.date()} → {max_date.date()}"
)

Filtered out 0 rows; remaining 1000 rows from 2014-06-29 → 2017-06-29

## Remove Duplicates & Add Aggregates
Ensure uniqueness and compute region/county-level features.

In [28]:

df_chunk.drop_duplicates(inplace=True)
df_chunk.reset_index(drop=True, inplace=True)

## Price Transformation & Outlier Removal
Log-transform target and remove extreme outliers calculate the value at the 99.5th percentile of LogPrice.

In [29]:
import numpy as np


df_chunk['LogPrice'] = np.log1p(df_chunk['Price'])
cutoff = df_chunk['LogPrice'].quantile(0.995)
before = df_chunk.shape[0]

df_chunk = df_chunk[df_chunk['LogPrice'] <= cutoff]
after = df_chunk.shape[0]
print(f"Dropped {before-after} outliers; new shape: {df_chunk.shape}")

Dropped 5 outliers; new shape: (989, 15)

## Save Cleaned Data
Write cleaned DataFrame to CSV for downstream notebooks.

In [30]:

output_path = '../outputs/datasets/collection/HousePricesRecords_clean.csv'
import os
os.makedirs(os.path.dirname(output_path), exist_ok=True)


df_chunk.to_csv(output_path, index=False)
print(f"Saved cleaned data to {output_path}")

Saved cleaned data to ../outputs/datasets/collection/HousePricesRecords_clean.csv